{{#asset-is-image instance slug}}
    <!-- <img id="{{slug}}" class="thumbnail" style="max-width:150px" src="/{{asset-path instance slug}}">-->
    <img id="{{slug}}" class="thumbnail" style="max-width:150px" src="{{resize-in instance slug {:width 150} }}">
{{/asset-is-image instance slug}}
{{^asset-is-image instance slug}}
    {{asset-path instance slug}}
    {{! not sure what to do in this case right now }}
    <img id="{{slug}}" class="thumbnail" style="max-width:150px" src="/{{asset-path instance slug}}">
{{/asset-is-image instance slug}}
