{{< templates/layouts/app.html}}
{{%content}}

<div class="page-header">
  <div class="container-fluid clearfix">
      <h1>Preferences</h1>
  </div>
</div>

<div class="container-fluid caribou-preferences">
  <div class="well span4">
    <form>
      <fieldset class="control-group">
        <legend>Validation Level</legend>
        <label class="radio"><input type="radio" class="caribou-preferences-validation" name="preferences-validation" value="none" />
          Don't do any validation
        </label>
        <label class="radio"><input type="radio" class="caribou-preferences-validation" name="preferences-validation" value="required" />
          Only validate required fields
        </label>
        <label class="radio"><input type="radio" class="caribou-preferences-validation" name="preferences-validation" value="all" />
          Validate all fields
        </label>
        <span class="help-block">Using this setting you can override the validation of any content you edit.</span>
      </fieldset>
      </form>
  </div>
</div>

{{/content}}

{{%page-javascript}}
<script type="text/javascript">
$(function() {
    var preferencesPage = new window.caribou.preferences.PreferencesPage();
});
</script>
{{/page-javascript}}
