{{< templates/layouts/app.html}}
{{%content}}
<div class="page-header">
  <ul class="breadcrumb">
    <li> <a href="{{safe-route-for :models params}}">Models</a> <span class="divider">/</span> </li>
    <li class="active">{{model.name}}</li>
  </ul>
  <div class="container-fluid clearfix">
    <h1 class="pull-left">{{model.name}}</h1>
    <a class="pull-right btn btn-large" href="{{safe-route-for :create_model_instance params }}">Create a {{model.name}}</a>
  </div>

</div>

<div class="container-fluid">
  <section>
    <div class="row-fluid">
      <div class="span9 column">
        <h2>Attributes</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Field</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="sortable" data-position='{ "model":"field", "offset": 0, "field":"model_position" }'>
            {{#model.fields}}
            <tr data-position='{ "position": {{model_position}}, "id": "{{id}}" }' {{#locked}}class="error"{{/locked}}>
              <td>{{name}}</td>
              <td>{{type}}</td>
              <td>
                {{^locked}}
                  <a href="#">Edit</a> | <a href="#delete" data-model="field" data-id="{{id}}" onclick="return window.caribou.models.showDeleteDialog( this );">Delete</a>
                {{/locked}}
              </td>
            </tr>
            {{/model.fields}}
          </tbody>
        </table>
      </div>
    </div>
    <a href="#" role="button" class="btn btn-success" data-model="{{model.slug}}" onclick="return window.caribou.models.showAddFieldDialog( this );">+ attribute</a>
  </section>
</div>

{{> templates/content/models/dialogs/new_field.html }}
{{> templates/content/models/dialogs/delete.html }}

{{/content}}

