{{< templates/layouts/app.html}}
{{%content}}
<div class="page-header">
  <ul class="breadcrumb">
    <li> <a href="{{safe-route-for :admin.models params}}">Models</a> <span class="divider">/</span></li>
    <li class="active">{{> templates/content/models/instance/_action_menu.html}}</li>
  </ul>

  {{> templates/content/models/collection/_search.html}}

  <div class="container-fluid clearfix">
    <h1>{{model.name}}</h1>
    <a class="btn" href="{{safe-route-for :admin.create-model-instance params {:slug model.slug} }}">Create a {{model.name}}</a>
  </div>

</div>

<div class="container-fluid">
  <section>
    <div class="row-fluid">
      <div class="span12 column">
        <div class="clearfix">
          <h2 class="pull-left">Attributes</h2>
            <a href="#" role="button" class="btn btn-success pull-right" data-model="{{model.slug}}" onclick="return window.caribou.models.showAddFieldDialog( this );"><span class="instrument-icon-circle-plus"></span> Add attribute</a>
        </div>
        <div class="status-messages alert alert-error alert-block hide changeOrderMessage clearfix">
          You've changed the order. Be sure to save!
          <button class='btn btn-danger' onclick='window.caribou.models.updateOrdering();'>Save</button>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Field</th>
              <th>Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="sortable" data-position='{ "umbrella": {{model.id}}, "model":"model", "association":"fields", "offset": 0 }'>
            {{#model.fields}}
            <tr data-position='{ "position": {{model-position}}, "id": "{{id}}" }' {{#locked}}class="disabled_bg"{{/locked}}>
              <td class="sort"><span class="instrument-icon-up"></span><span class="instrument-icon-down"></span></td>
              <td>{{name}}</td>
              <td>{{type}} {{#searchable}}(searchable){{/searchable}}</td>
              <td>
                {{^locked}}
                  <a href="{{safe-route-for :admin.edit-model-instance params {:slug "field" :id id} }}" class="icon-container"><span class="instrument-icon-pencil" title="Edit"></span></a> &nbsp; <a href="#delete" class="icon-container" data-model="field" data-id="{{id}}" onclick="return window.caribou.models.showDeleteDialog( this );"><span class="instrument-icon-trash" title="Delete"></span></a>
                {{/locked}}
              </td>
            </tr>
            {{/model.fields}}
          </tbody>
        </table>
      </div>
    </div>
    <a href="#" role="button" class="btn btn-success" data-model="{{model.slug}}" onclick="return window.caribou.models.showAddFieldDialog( this );"><span class="instrument-icon-circle-plus"></span> Add attribute</a>
  </section>
</div>

{{> templates/content/models/dialogs/new_field.html }}
{{> templates/content/models/dialogs/delete.html }}

{{/content}}

