{{< templates/layouts/app.html}}
{{%content}}

<div class="page-header">
  <div class="container-fluid clearfix">
    <h1>Models</h1>
    <a class="btn" data-toggle="modal" data-target="#new-model" >New Model</a>
  </div>
</div>

{{> templates/content/models/dialogs/new.html}}
{{> templates/content/models/dialogs/delete.html}}

<div class="container-fluid">
  <section>
    <div class="row-fluid">
      <div class="span12 column">
        <h2>Custom Models</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Created At</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="sortable" data-position-field="position" data-position-model="model">
            {{#unlocked}}
            {{^join-model}}
            <tr {{#join-model}}class="disabled_bg"{{/join-model}}>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{convert-time formatters.date created-at}}</td>
              <td class="center">{{^join-model}}
                  <a href='{{safe-route-for :admin.results params {:slug slug} }}'>View all</a>
                | <a href='{{safe-route-for :admin.edit-model params {:slug slug} }}'>Modify</a>
                | <a href="{{safe-route-for :admin.edit-model-instance params {:slug "model" :id id} }}">Edit</a>
                | <a href="{{route-for :admin.model-api params {:action "reindex" :slug slug} }}">Reindex</a>
                | <a href="#" class="delete-link" data-model="model" data-id="{{id}}">Delete</a>
                {{/join-model}}
                {{#join-model}}Join models are locked{{/join-model}}
              </td>
            </tr>
            {{/join-model}}
            {{/unlocked}}
          </tbody>
        </table>
        {{^unlocked}}
          <div class="alert alert-error"><span class="caribou-icon-circle-exclamation"></span> &nbsp;Oh no!  Nobody has created any models yet!</div>
        {{/unlocked}}

        <!-- <button type="button" class="btn" data-toggle="collapse" data-target="#system-models">System Models</button>-->
        <h2>System Models</h2>
        <!-- <div id="system-models" class="collapse">-->
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created At</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="sortable" data-position-field="position" data-position-model="model">
              {{#locked}}
              <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{convert-time formatters.date created-at}}</td>
                <td class="center">
                    <a href='{{safe-route-for :admin.results params {:slug slug} }}'>View all</a>
                  | <a href="{{safe-route-for :admin.edit-model params {:slug slug} }}">View fields</a>
                </td>
              </tr>
              {{/locked}}
            </tbody>
          </table>
        <!-- </div>-->
      </div>

    </div>
  </section>
</div>

{{/content}}
