{{< templates/layouts/app.html}}
{{%content}}

<div class="page-header">
  <div class="container-fluid clearfix">
    <h1>Models</h1>
    <a class="btn" data-toggle="modal" data-target="#new-model" >New Model</a>
  </div>
</div>

{{> templates/content/models/dialogs/new.html}}
{{> templates/content/models/dialogs/delete.html}}

<div class="container-fluid">
  <section>
    <div class="row-fluid">
      <div class="span12 column">
        <h2>Custom Models</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Created At</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="sortable" data-position-field="position" data-position-model="model">
            {{#unlocked}}
            <tr {{#join-model}}class="disabled_bg"{{/join-model}}>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{created-at}}</td>
              <td>{{^join-model}}
                  <a href='{{safe-route-for :admin.results params {:slug slug} }}'>See all</a>
                | <a href='{{safe-route-for :admin.edit-model params {:slug slug} }}'>Tweak fields</a>
                | <a href="{{safe-route-for :admin.edit-model-instance params {:slug "model" :id id} }}">Edit</a>
                | <a href="{{route-for :admin.model-api params {:action "reindex" :slug slug} }}">Reindex</a>
                | <a href="#" class="delete-link" data-model="model" data-id="{{id}}">Delete</a>
                {{/join-model}}
                {{#join-model}}Join models are locked{{/join-model}}
              </td>
            </tr>
            {{/unlocked}}
          </tbody>
        </table>
        {{^unlocked}}
          <div class="alert alert-error"><span class="instrument-icon-circle-exclamation"></span> &nbsp;Oh no!  Nobody has created any models yet!</div>
        {{/unlocked}}

        <h2>System Models</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Created At</th>
              <th>Fun stuff</th>
            </tr>
          </thead>
          <tbody>
            {{#locked}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{created-at}}</td>
              <td>
                  <a href='{{safe-route-for :admin.results params {:slug slug} }}'>See all</a>
                | <a href="{{safe-route-for :admin.edit-model params {:slug slug} }}">View fields</a>
              </td>
            </tr>
            {{/locked}}
          </tbody>
        </table>
      </div>

    </div>
  </section>
</div>

{{/content}}
