{{< templates/layouts/app.html}}
{{%content}}

<div class="container-fluid">
  <div class="page-header clearfix">
    <h2 class="pull-left">Projects</h2>
    <a class="pull-right btn">New Project</a>
  </div>
</div>
    
<div class="container-fluid">
  
  <div class="row-fluid">
    
    <div class="span9">
      
      <div class="btn-group">
        <button class="active btn">All ({{project-count}})</button>
        <button class="btn">Published ({{published-project-count}})</button>
        <button class="btn">Draft ({{draft-project-count}})</button>
      </div>
      
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
          </tr>
        </thead>
        <tbody>
          {{#projects}}
          <tr>
            <!-- Todo: Make detail links point to edit or view depending on permissions -->
            <td>
              <div class="media">
                <a class="pull-left" href="{{route-for :admin.edit_project {:site params.site :locale params.locale :id id} }}">
                  <img class="media-object" src="/lichen/{{thumbnail_standard.path}}?width=160&height=120" width="160" height="120">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="{{route-for :admin.edit_project {:site params.site :locale params.locale :id id} }}">{{name}}</a></h4>
                  <p><a href="">Google</a><br>
                  Edited by <a href="">J. Lewis</a><br>
                  on Monday, January 14</p>
                </div>
              </div>
              <div class="status">Draft</div>
            </td>
          </tr>
          {{/projects}}
        </tbody>
      </table>
      
      <div class="pagination">
        <ul>
          {{#params.page}}<li><a href="#">Prev</a></li>{{/params.page}}
          <li{{active params.page nil {:class "active"} }}{{active params.page "1" {:class "active"} }}><a href="{{route-for :admin.projects params {:page 1} }}">1</a></li>
          <li{{active params.page "2" {:class "active"} }}><a href="{{route-for :admin.projects params {:page 2} }}">2</a></li>
          <li{{active params.page "3" {:class "active"} }}><a href="{{route-for :admin.projects params {:page 3} }}">3</a></li>
          <li{{active params.page "4" {:class "active"} }}><a href="#">4</a></li>
          <li><a href="">Next</a></li>
        </ul>
      </div>
      
    </div>
    
    <div class="span3">
      
      <div class="well well-small">
        <form>
          <fieldset>
            <legend>Filter</legend>
            <label>Search name</label>
            <input type="text" placeholder="Type somethingÉ" class="input-block-level">
            <button type="submit" class="btn btn-primary">Filter</button>
            <button type="submit" class="btn">Clear</button>
          </fieldset>
        </form>
      </div>
      
    </div>
    
  </div>
    
</div>

{{/content}}
