{{< templates/layouts/login.html}}
{{%content}}  
    
<div class="container">

  <form class="form-signin" action="{{route-for :admin.submit_login {} }}" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input id="email" name="email" type="text" class="input-block-level" placeholder="Email address">
    <input id="password" name="password" type="password" class="input-block-level" placeholder="Password">
    <p><a href="/forgot-password">forgot your password?</a></p>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->

{{/content}}
