

/* ===== Primary Styles ========================================================
   Author: Justin Lewis
   ========================================================================== */




body {
  /*background: #fff url("/admin/img/pizazz-light.png") repeat center top;*/
  font-family: "proxima-nova" , "Helvetica Neue" , Helvetica , Arial , sans-serif;
}

.container-fluid {
	margin: 0 auto;
	max-width: 1000px;
	width: 85%;
}




/* Base CSS: Typography
-------------------------------------------------- */
h2 {
  color: #333;
  font-weight: 300;
  font-size: 27px;
  line-height: 34px;
}




/* Base CSS: Tables
-------------------------------------------------- */
table a {
  text-decoration: underline;
}

table td {
  overflow: hidden;
  position: relative;
}

table thead tr {
	background: rgb( 53, 55, 67 );
	color: white;
	font-weight: bold;
}

.table th {
	background: inherit;
	color: white;
}

.table th a {
	color: white;
}

table tr:last-child {
	border-bottom: 1px solid #d9d9d9;
}

.table-bordered {
	border-radius: 0;
}
   
   

/* Components: Navbar
-------------------------------------------------- */
.navbar-fixed-top .brand {
  font-weight: bold;
  color: #777;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.navbar-inner {
  background-image: url("/admin/img/pizazz-dark.png");
}



/* Custom: Status Banner
-------------------------------------------------- */
.status {
  position: absolute;
  top: 12px;
  right: -38px;
  width: 120px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  padding: 12px 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  font-size: 10px;
  font-weight: normal;
}


/* Custom tree control styles */

ul.treenode {
  list-style: none;
}

img.expand {
  /* margin-right: 4px; */
}

li.treenode {
  list-style: none;
  border-top: 1px dotted #eee;
}


/* Custom: Zinio-specific
-------------------------------------------------- */


* {
	outline: none;
}

/*
	Links
*/

a {
	color: rgb( 5, 103, 126 );
}

a:hover {
	color: rgb( 53, 55, 67 );
}

/*
	Headers
*/

.page-header {
	/*border-bottom: 0;*/
	margin-top: 3em;
}

.page-header h1 {
	color: rgb( 53, 55, 67 );
}

h2 {
	font-weight: 300;
	color: #444;
}

h3 {

}

h4 {
	font-style: italic;
	font-weight: 300;
	color: #777;
}

h4.collection-header {
	margin-bottom: 2em;
}

/*
	Table Collection Overrides
*/

.model-group {
	margin-bottom: 2em;
}

.model-group table {
	margin-bottom: 2em;
}

.model-group .table td,
.table td,
.table th {
	padding: 13px 15px;
}

.model-group .field-name-column,
.model-group .content-type-column {
	width: 25%;
}

.model-group .description-column,
.model-group .current-content-column{
	width: 50%;
}

.table-actions {
	color: #CCC;
}

.group-description {
	margin: 1.5em 0;
}

.header-field {
	font-weight: bold;
}

table p {
	margin-bottom: 0;
}

.system-models .hidden-content {
	display: none;
}


/*
	Buttons
*/

.new-model {

}

#sys-model-show {
	margin-bottom: 1em;
}

/*
	Menus
*/

.navbar-fixed-top .navbar-inner .nav > li > a {
	padding: 10px 15px;
}

.dropdown-menu li {

}

.dropdown-menu li.divider {
	display: block;
}

.dropdown-menu li.disabled:hover > a {
	background: transparent;
	box-shadow: none;
}

.dropdown-menu li a:hover {
	background: rgb( 5, 103, 126 );
	box-shadow: none;
}

.breadcrumb {
	background: transparent;
	padding: 0;
}

/*
	Miscellaneous
*/

textarea {
	display: block;
	box-sizing: border-box;
	min-width: 100%;
	max-width: 100%;
}

