
div.ui-timepicker-wrapper {
  position: absolute;
  height: 191px;
  width:7em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.ui-timepicker-wrapper-12hours {
  width:6em; /* needed for IE */
}

div.ui-timepicker-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.ui-timepicker-wrapper li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.ui-timepicker-wrapper li.ui-timepicker-selected {
  background: #0063CE;
  color: #fff;
}
