@import "variables";
@import "compass/css3/";

@mixin btn-bg-color($background-color) {
    background-color: #{$background-color};
    &:hover {
        background: darken($background-color, 5);
    }
}
a.btn {
    text-decoration: none;
}
.btn, .btn-primary, .btn-secondary, .btn-success, .btn-warning, .btn-error, button {
    background-image: none;
    @include inline-block;
    padding: 7px 12px;
    margin: 0;
    border: none;
    font-size: $basefont - 1;
    line-height: $baseline;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.btn {
    @include btn-bg-color(lighten($secondary,82));
    color: $text-color;
}
.btn-primary {
    @include btn-bg-color($primary);
    color: white;
}

.btn-success {
    @include btn-bg-color($success);
    color: white;
}

.btn-warning {
    @include btn-bg-color($warning);
    color: white;
}
.btn-danger {
    @include btn-bg-color($error);
    color: white;
}