@import "variables";
@import "compass/css3";

.table {
      border-collapse: collapse;
      width: 100%;
    th {
        background-color: $secondary;
        a {
            color: white;
        }
    }

    //Add a move cursor to items that are sortable.
    tbody.sortable {
        cursor: move;
        tr {
            background-color: white;
            &:hover {
                background-color: $grayLightest;
            }
        }
    }
    tbody tr:nth-child(odd) {
        background-color: $grayLightest;
    }
    //Remove the icon if you can't move row up or down
    tr:first-child .caribou-icon-up,
    tr:last-child .caribou-icon-down {
        visibility: hidden;
    }
    th,
    td {
      overflow: hidden;
      position: relative;
      vertical-align: top;
      padding: 4px;
      border: 1px solid $grayLight;
    }

    td.center { text-align: center; }
    //style the placeholder where an row can be dropped
    tbody tr.ui-sortable-placeholder td,
    tbody tr.ui-sortable-placeholder.disabled_bg td {
        border: 2px dashed $primary;
        background-color: white;
    }
    //Add color to uneditable rows.
    tbody tr.disabled_bg {
        background-color: $grayLighter;
        @include transition(background-color 0.5s);
    }
    //Add flash of color to row once it's dropped.
    tbody tr.ui-sortable-highlight {
        background-color: $primary;
        @include transition(background-color 0.5s);
    }
    select {
        margin-bottom: 0;
        margin-right: 5px;
    }
    //Add necessary borders to td's while dragging
    tr.ui-sortable-helper td {
        border-bottom: 1px $grayLight solid;
        &:last-child {
            border-right: 1px $grayLight solid;
        }
    }
    //Add width to .sort icon container td.
    .sort {
        width: 50px;
        text-align: center;
        span {
            color: $gray;
        }
    }
    // Underline links in tables except links
    // that contain icons or are styled as btns.
    a:not(.icon-container):not(.btn) {
        text-decoration: underline;
    }
}

.table--controls {
    min-width: 50px;
}

.table-bordered th {
    border-color: $gray;
}

td[class*="caribou-text"] {
    .td-container {
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
              overflow: visible;
              white-space: inherit;
              text-overflow: inherit;
          }
    }
}

td[class*="caribou-asset"] {
    .td-container {
        min-height: 100px;
        max-height: 100px;
        width: 100px;
        overflow: hidden;
        @include longerTransition(max-height);
        &:hover {
            max-height: 350px;
            overflow: visible;
            @include longerTransition(max-height);
        }
    }
    img.thumbnail {
        max-width: inherit !Important;
        width: 100% !Important;
        padding: 0;
        border: none;
        @include border-radius(0);
    }
}

