

/* ===== Primary Styles ========================================================
   Author: Justin Lewis
   ========================================================================== */




body {
  /*background: #fff url("/admin/img/pizazz-light.png") repeat center top;*/
}




/* Base CSS: Typography
-------------------------------------------------- */
h2 {
  color: #333;
  font-weight: 300;
  font-size: 27px;
  line-height: 34px;
}




/* Base CSS: Tables
-------------------------------------------------- */
table a {
  text-decoration: underline;
}

table td {
  overflow: hidden;
  position: relative;
}
   
   

/* Components: Navbar
-------------------------------------------------- */
.navbar-fixed-top .brand {
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.navbar-inner {
  background-image: url("/admin/img/pizazz-dark.png");
}




/* Custom: Status Banner
-------------------------------------------------- */
.status {
  position: absolute;
  top: 12px;
  right: -38px;
  width: 120px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  padding: 12px 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  font-size: 10px;
  font-weight: normal;
}
