{{< templates/layouts/app.html}}
{{%content}}

      <section class="container-fluid">
        <div class="page-header">
          <div class="container-fluid clearfix">
            <h1>Dashboard</h1>
          </div>
        </div>
        <div class="container-fluid clearfix">
            <div class="row-fluid">
              <div class="span9 column">
                <h2>Recent Activity</h2>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Content</th>
                      <th>Contributor</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
    <td class='first'>Created <a href="/admin/content/#/team-members/73"></a> in TeamMembers</td>
    <td><a href="/admin/access/#/user/1">Justin Lewis</a></td>
    <td class='last'>June 08, 11:16 AM</td>
    </tr>
    <tr>
    <td class='first'>Created <a href="/admin/content/#/team-members/72"></a> in TeamMembers</td>
    <td><a href="/admin/access/#/user/1">Justin Lewis</a></td>
    <td class='last'>June 08, 11:15 AM</td>
    </tr>
                  </tbody>
                </table>
              </div>
              <div class="span3 column"></div>
            </div>
        </div>
      </section>

{{/content}}
