{{< templates/layouts/app.html}}
{{%content}}

    <h1>Create Account</h1>
    <form id="create"
	  action="{{route-for :admin.create-account session}}"
	  method="post">
      <input id="email" name="email" placeholder="email" required>
      <input id="password" type="password" name="password"
	     placeholder="password" required>
      <input id="first" name="first" placeholder="first name">
      <input id="last" name="last" placeholder="last name">
      role:
      <select name="role" required>
	<option selected="selected"/>
	{{#roles}}
	<option value={{id}}>{{title}}</option>
	{{/roles}}
      </select>
      <input type="submit" value="create account" />
    </form>

{{/content}}
