{{< templates/layouts/app.html}}
{{%content}}

<div class="page-header">
  <div class="container-fluid clearfix">
    <h1 class="pull-left">Pages</h1>
    <a class="pull-right btn btn-large">New Page</a>
  </div>
</div>
    

{{> templates/status_messages.html }}

<div class="container-fluid">
  <section>
    <div class="row-fluid">
      <div class="span9 column">
        <form method="post">

          <div id="all-pages" class="hide">
            
          </div>

          <div class="form-actions">
            <button id="save-changes" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

{{/content}}
