{{^is_xhr}}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<style>
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
	</style>
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/datepicker.css" />
  <link rel="stylesheet" href="/css/image-picker.css" />

  <!-- jquery moved to top so a page can include scripts that fire on page ready -->
  <script src="/js/libs/jquery-1.7.2.min.js"></script>
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body id="{{page.slug}}" data-controller="{{page.slug}}" data-model="{{model.slug}}" data-api="{{route-for :model_api {:site params.site :locale params.locale} }}" data-instance-ids="{{instance-ids}}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{route-for :dashboard params}}">THIS. IS. CARIBOU.</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="{{route-for :dashboard params}}">Dashboard</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Content <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="{{route-for :projects params}}">Projects</a></li>-->
                <!-- <li><a href="">Clients</a></li>-->
                <!-- <li><a href="">Team Members</a></li>-->
                <!-- <li><a href="/content-library/careers">Careers</a></li>-->
                <!-- <li><a href="/content-library/blog-posts">Blog Posts</a></li>-->
                <!-- <li class="divider"></li>-->
                <!-- <li><a href="{{route-for :pages params}}">Pages</a></li>-->
                <!-- <li><a href="/content-library/assets">Assets</a></li>-->
                {{#user-models}}
                <li><a href="">{{name}}</a></li>
                {{/user-models}}
              </ul>
            </li>
            <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Activity <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Traffic Overview</a></li>
                <li><a href="#">Referrers</a></li>
                <li><a href="#">Popular Content</a></li>
                <li><a href="#">Search Queries</a></li>
                <li><a href="#">Detailed Activity</a></li>
                <li class="divider"></li>
                <li><a href="#">Comments</a></li>
              </ul>
            </li>-->
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">General</a></li>
                <li><a href="#">Time / Geography</a></li>
                <li><a href="#">Domains</a></li>
                <li><a href="#">Contributors</a></li>
                <li class="divider"></li>
                <li><a href="#">Sites</a></li>
                <li><a href="#">Locales</a></li>
                <li class="divider"></li>
                <li><a href="{{route-for :models params}}">Model</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#settings">Frontend</a></li>
                <li><a href="#settings">Admin</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locale <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#settings">Global</a></li>
                <li><a href="#settings">en_US</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{#session.user}}
                  {{session.user.first_name}} {{session.user.last_name}}
                {{/session.user}}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#settings">My account</a></li>
                <li><a href="#settings">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
	{{/is_xhr}}
	  {{%content}}{{/content}}
	{{^is_xhr}}
	
	<hr>
  
  <footer>
  
  </footer>
  
  <script src="/js/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

  <script src="/js/libs/bootstrap/bootstrap.js"></script>
  <script src="/js/libs/bootstrap-datepicker.js"></script>
  <script src="/js/libs/image-picker.min.js"></script>
  <script src="/js/libs/underscore-min.js"></script>
  <script src="/js/libs/pluralize.js"></script>
  <script src="/js/libs/jquery.ajaxfileupload.js"></script>
  
  <script src="/js/modules/pages/content/util.js"></script>
  <script src="/js/modules/pages/content/backend.js"></script>
  <script src="/js/modules/pages/content/editors.js"></script>
  <script src="/js/modules/pages/content/models.js"></script>
  <script src="/js/modules/pages/content/breadcrumbs.js"></script>
  <script src="/js/modules/pages/content/status.js"></script>

</body>
</html>
{{/is_xhr}}
