{{^is_xhr}}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<style>
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/instrument-ui.css" />
  <link rel="stylesheet" type="text/css" href="/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="/css/image-picker.css" />

  <!-- jquery moved to top so a page can include scripts that fire on page ready -->
  <script src="/js/libs/jquery-1.7.2.min.js"></script>
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body id="{{page.slug}}" data-controller="{{page.slug}}" data-model="{{model.slug}}" data-api="{{safe-route-for :admin.model_api params}}" data-instance-ids="{{instance-ids}}" data-locale="{{locale-code params.locale}}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{safe-route-for :admin.models params}}">THIS. IS. CARIBOU.</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Content <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#user-models}}
                <li><a href="{{safe-route-for :admin.results params {:slug slug} }}">{{name}}</a></li>
                {{/user-models}}
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="#">General</a></li>
                <li><a href="#">Time / Geography</a></li>
                <li><a href="#">Domains</a></li>
                <li><a href="#">Contributors</a></li>
                <li class="divider"></li> -->
                <li><a href="{{safe-route-for :admin.results params {:slug "site"} }}">Sites</a></li>
                <li><a href="{{safe-route-for :admin.results params {:slug "locale"} }}">Locales</a></li>
                <li class="divider"></li>
                <li><a href="{{safe-route-for :admin.models params}}">Model</a></li>
                <li><a href="{{safe-route-for :admin.pages params}}">Pages</a></li>
              </ul>
            </li>
            <li><a href="{{safe-route-for :admin.pages params}}">Pages</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#settings">Frontend</a></li>
                <li><a href="#settings">Admin</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{#locale.code}}{{locale.code}}{{/locale.code}}{{^locale.code}}Locale{{/locale.code}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{route-for page.slug params {:locale "global"} }}">Global</a></li>
                {{#locales:locale}}
                <li><a href="{{route-for page.slug params {:locale locale.code} }}">{{locale.description}} ({{locale.code}})</a></li>
                {{/locales}}
                <li><a href="{{safe-route-for :admin.create_model_instance params {:slug "locale"} }}">Create</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{#session.user}}
                  {{session.user.first_name}} {{session.user.last_name}}
                {{/session.user}}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#settings">My account</a></li>
                <li><a href="#settings">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

	{{/is_xhr}}
	  {{%content}}{{/content}}
	{{^is_xhr}}

	<hr>

  <footer>

  </footer>

  <script src="/js/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

  <script src="/js/libs/bootstrap/bootstrap.js"></script>
  <script src="/js/libs/bootstrap-datepicker.js"></script>
  <script src="/js/libs/image-picker.min.js"></script>
  <script src="/js/libs/underscore-min.js"></script>
  <script src="/js/libs/pluralize.js"></script>
  <script src="/js/libs/jquery.ajaxfileupload.js"></script>
  <script src="/js/libs/interface.js"></script>
  
  <script src="/js/modules/pages/content/util.js"></script>
  <script src="/js/modules/pages/content/backend.js"></script>
  <script src="/js/modules/pages/content/editors.js"></script>
  <script src="/js/modules/pages/content/tree.js"></script>
  <script src="/js/modules/pages/content/models.js"></script>
  <script src="/js/modules/pages/content/pages.js"></script>
  <script src="/js/modules/pages/content/breadcrumbs.js"></script>
  <script src="/js/modules/pages/content/status.js"></script>

</body>
</html>
{{/is_xhr}}
