{{^is-xhr}}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title></title>
	<meta name="description" content="" />
	<meta name="author" content="" />

	<meta name="viewport" content="width=device-width" />

  {{> templates/layouts/_pre-stylesheets.html}}
	<style>
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
	</style>
  <link rel="stylesheet" type="text/css" href="/_admin/css/caribou.css" />
  <link rel="stylesheet" type="text/css" href="/_admin/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="/_admin/css/image-picker.css" />
  <link rel="stylesheet" type="text/css" href="/_admin/css/jquery.treetable.css" />
  <link rel="stylesheet" type="text/css" href="/_admin/css/jquery.treetable.theme.default.css" />
  <link rel="stylesheet" type="text/css" href="/_admin/css/timepicker.css" />

  {{> templates/layouts/_post-stylesheets.html}}

  <!-- jquery moved to top so a page can include scripts that fire on page ready -->
  <script src="/_admin/js/libs/jquery-1.10.2.min.js"></script>
  <script src="/_admin/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body id="{{page.slug}}" data-controller="{{page.slug}}" data-model="{{model.slug}}" data-api="{{safe-route-for :admin.model-api params}}" data-instance-ids="{{instance-ids}}" data-locale="{{locale-code params.locale}}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="nav">
    <div class="nav--container clearfix">
        <a class="nav--brand f-left" href="{{safe-route-for :admin.models params}}">THIS. IS. CARIBOU.</a>
          <ul class="nav--list f-left">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Content <span class="caribou-icon-expand"></span></a>
              <ul class="dropdown-menu">
                {{#user-models}}
                {{^locked}}
                {{^join-model}}
                <li><a href="{{safe-route-for :admin.results params {:slug slug} }}">{{name}}</a></li>
                {{/join-model}}
                {{/locked}}
                {{/user-models}}
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Structure <span class="caribou-icon-expand"></span></a>
              <ul class="dropdown-menu">
                <!-- <li><a href="#">General</a></li>
                <li><a href="#">Time / Geography</a></li>
                <li><a href="#">Domains</a></li>
                <li><a href="#">Contributors</a></li>
                <li class="divider"></li> -->
                <li><a href="{{safe-route-for :admin.results params {:slug "site"} }}">Sites</a></li>
                <li><a href="{{safe-route-for :admin.results params {:slug "locale"} }}">Locales</a></li>
                <li class="divider"></li>
                <li><a href="{{safe-route-for :admin.models params}}">Model</a></li>
                <li><a href="{{safe-route-for :admin.pages params}}">Pages</a></li>
              </ul>
            </li>
            <!-- <li><a href="{{safe-route-for :admin.pages params}}">Pages</a></li>-->
          </ul>
          <ul class="nav-list f-right sub-nav-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts<span class="caribou-icon-expand"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{safe-route-for :admin.create-model-instance params {:slug "account"} }}">Create New Account</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{#locale.code}}{{locale.code}}{{/locale.code}}{{^locale.code}}Locale{{/locale.code}} <span class="caribou-icon-expand"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{route-for page.slug params {:locale "global"} }}">Global</a></li>
                {{#locales:locale}}
                <li><a href="{{route-for page.slug params {:locale locale.code} }}">{{locale.description}} ({{locale.code}})</a></li>
                {{/locales}}
                <li><a href="{{safe-route-for :admin.create-model-instance params {:slug "locale"} }}">Create</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{#session.user}}
                  {{session.user.first-name}} {{session.user.last-name}}
                {{/session.user}}
                &nbsp;
                <span class="caribou-icon-expand"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{safe-route-for :admin.edit-model-instance params {:id session.admin.user.id} }}">My account</a></li>
                <li><a data-toggle="modal" data-target="#preferences-modal" href="{{safe-route-for :admin.user-preferences params }}">Preferences</a></li>
                <li><a href="{{safe-route-for :admin.logout params }}">Logout</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>


{{/is-xhr}}
{{%content}}{{/content}}
{{^is-xhr}}

  {{> templates/settings/dialogs/preferences.html }}

  {{> templates/layouts/_pre-javascript.html}}

  <script src="/_admin/js/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

  <script src="/_admin/js/caribou.js"></script>
  <script src="/_admin/js/libs/bootstrap-datepicker.js"></script>
  <script src="/_admin/js/libs/image-picker.min.js"></script>
  <script src="/_admin/js/libs/underscore-min.js"></script>
  <script src="/_admin/js/libs/pluralize.js"></script>
  <script src="/_admin/js/libs/jquery.ajaxfileupload.js"></script>
  <script src="/_admin/js/libs/jquery.treetable.js"></script>
  <script src="/_admin/js/libs/jquery.timePicker.min.js"></script>
  <script src="/_admin/js/libs/jquery.cookie.js"></script>

  <script src="/_admin/js/modules/pages/content/util.js"></script>
  <script src="/_admin/js/modules/pages/content/config.js"></script>
  <script src="/_admin/js/modules/pages/content/backend.js"></script>
  <script src="/_admin/js/modules/pages/settings/user_preferences.js"></script>

  <script src="/_admin/js/modules/pages/content/editors/base.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/fields.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/structure.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/part.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/collection.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/asset.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/address.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/models.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/stack.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/treetable.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/tree.js"></script>
  <script src="/_admin/js/modules/pages/content/editors/siphon.js"></script>
  <script src="/_admin/js/modules/pages/content/editors.js"></script>
  <script src="/_admin/js/modules/pages/content/models.js"></script>
  <script src="/_admin/js/modules/pages/content/pages.js"></script>
  <script src="/_admin/js/modules/pages/content/breadcrumbs.js"></script>
  <script src="/_admin/js/modules/pages/content/status.js"></script>

{{/is-xhr}}
  {{> templates/layouts/_post-javascript.html}}
  {{%page-javascript}}{{/page-javascript}}
{{^is-xhr}}
</body>
</html>
{{/is-xhr}}
